
<div class="container-fluid">

   
      <div class="row">

	<div class="app-entry col-md-6 col-lg-6">
          <div class="card h-100">
	    <a class="" href="#">
	      

	    </a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#/notelist">Notebook</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>

	<div class="app-entry col-md-6 col-lg-6">
          <div class="card h-100">

            <div class="card-body">
              <h4 class="card-title">
                <a href="#/chart">Pregress Graph</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>

	<div class="app-entry col-md-6 col-lg-6">
            <div class="card h-100">

                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#/chart">Pregress Graph</a>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>

	<div class="app-entry col-md-6 col-lg-6">
            <div class="card h-100">

                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#/chart">Pregress Graph</a>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>

          

      </div>
</div>
